.login-box-body
  %p.login-box-msg Resend confirmation instructions
  = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!
    .form-group.has-feedback
      = f.text_field :email, class: 'form-control', placeholder: 'Email', autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
      %span.glyphicon.glyphicon-envelope.form-control-feedback
    .row
      .col-xs-12
        = f.submit 'Resend confirmation instructions', class: 'btn btn-primary btn-block btn-flat'
  / /.col
  = render 'devise/shared/links'
  / /.login-box-body
