.login-box-body
  %p.login-box-msg Sign in to start your session
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    = devise_error_messages!
    .form-group.has-feedback
      = f.text_field :email, class: 'form-control', placeholder: 'Email', autofocus: true
      %span.glyphicon.glyphicon-envelope.form-control-feedback
    .form-group.has-feedback
      = f.password_field :password, class: 'form-control', placeholder: 'Password', autocomplete: 'off'
      %span.glyphicon.glyphicon-lock.form-control-feedback
    .row
      .col-xs-8
        .checkbox.icheck
          %label
            %input{:type => 'checkbox'}
              Remember Me
      / /.col
      .col-xs-4
        = f.submit 'Sign in', class: 'btn btn-primary btn-block btn-flat'
  / /.col
  = render 'devise/shared/social_links'
  = render 'devise/shared/links'
  / /.login-box-body
